*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    max-width:78.6458vw;
    width: 100vw;
    box-sizing: border-box;
    margin: 0 auto;
}
.firstBlockOfHeader{
    background-color: #71B2B5; 
    height: 11.5741vh;
    display: flex;
    justify-content: space-around;
    
}
.contForBackgroundPhoto{
    width: 100vw;
    height: 44vh;
    background-image: url(../image/studento4ki.png);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainButtonsForSearchAndMakeStudents{
    display: flex;
    flex-direction: column;
    height: 7.7778vh;
    justify-content: space-between;
    margin-top: 1.6667vh;
}
.upperRowForButtons{
    display: flex;
    width: 39.1146vw;
    justify-content: space-between;
}
.lowerRowForButtons{
    display: flex;
    width: 39.1146vw;
    justify-content: space-between;
}
.group{
    margin-left: 3.8021vw;
}
.contForLogo{
    height:  11.5741vh;
    display: flex;
    align-items: center;
}
.logo{
    height: 5.5556vh;
    width: 3.1250vw;
}
.contForButtonLogin{
    height:  11.5741vh;
    display: flex;
    align-items: center;
}
.headerButton{
    width: 10.5208vw;
    height: 2.6852vh;
    font-size: 10px;
    font-weight: 600;
    background-color: black; 
    color: white;
}
.headerButtonLogin{
    width: 5.6250vw;
    height: 2.6852vh;
    font-size: 10px;
    font-weight: 600;
    background-color: black; 
    color: white;
}
.backgroundPhotoImg{
    width: 100vw;
    height: 44.4444vh;
}

.reg{
    margin-left: 1vw;
}

.classForSettingForm{
    display: flex;
    flex-direction: column;

}
.inputForm{
    width: 25.8333vw;
}
.MakeStudent{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkDiscipleneForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    padding-top: 5vh;
}
.contForFormCheckDisciplene{
    display: flex;

}
.contForSeeDisciplene{
    border: 1px solid black;
    width: 18.4896vw;
    height: 32.8704vh;
}
.contForSee{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right:18vw ;
    padding-top: 5vh;
}
.numberCourse{
    display: flex;
    flex-direction: column;
}
.numberSemester{
    display: flex;
    flex-direction: column;
}
.seeDisciplene{
    margin-top: 1vh;
}
.checkMarkForDiscipleneAndHoursForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    padding-top: 7vh;
    width: 20vw;
}
.contForCheckDisciplene{
    display: flex;
    flex-direction: column;
}
.contForInputMakeGroup{
    display: flex;
    flex-direction: column;
}
.inputMakeGroup{
    width: 25.8333vw;
}
.inputMakeDisciplene{
    width: 25.8333vw;
}
.backgroundForLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39.5370vh;
    width: 46.8229vw;

    background-color: #71B2B5;
}
.contForLoginUser{
    height: 55.5556vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
}
.inputLogin{
    height: 4.8148vh;
    width: 27.1354vw;
}
.register{
    height: 27.2222vh;
}